<!--Header -->
<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Carl Warburton</h1>
            <h2><em>Junior Web Developer</em></h2>
            <br>
            <a href="#contactme" class="btn btn-dark btn-lg">Contact Me</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <img class="ipadportrait" src="<%= asset_path 'ipadportrait.png' %>" width=600>
                    <h2>I am passionate about <em>Ocean Exploration, Travel, Biographical Reading </em>and<em> Adventure Sports</em></h2>
                    <p class="lead">The possibilities of <em>Virtual &amp; Augmented Reality</em> in these fields particularly excites me</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>My Skills</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code-fork fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Back End Web Dev</strong>
                                </h4>
                                <p>Intermediate level Ruby on Rails, Beginner level JavaScript</p>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Front End Web Dev</strong>
                                </h4>
                                <p>Intermediate level HTML, Intermediate level CSS</p>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-crop fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>UX &amp; UI Design</strong>
                                </h4>
                                <p>Beginner level UX &amp; UI Design</p>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-lightbulb-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Entrepreneur</strong>
                                </h4>
                                <p>Aspiring Entrepreneur. Participated in the Tech Startup Course at 'The Founder Institute'</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

    <!-- My Work -->
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>My Work</h2>
                    <hr class="small">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="portfolio-item">
                              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                  <div class="front">
                                    <img class="ExamplePhoto" src="<%= asset_path 'iphonered.png' %>" alt="iphone 5c red" style="width:220px; height:440px; border-radius:40px;">
		                                </div>
		                                  <div class="back">
                                            <img class="ExamplePhoto" src="<%= asset_path 'mastermapred.png' %>" alt="InHostelBooking map" style="width:220px; height:440px; border-radius:40px;">
		                                       </div>
	                                        </div>
                                        </div>
                                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                          <div class="flipper">
                                            <div class="front">
                                              <img class="ExamplePhoto" src="<%= asset_path 'iphoneblue.png' %>" alt="iphone 5c blue" style="width:220px; height:440px; border-radius:40px;">
                                              </div>
                                                <div class="back">
                                                  <a href="http://www.unlabelled-designs.com/">
                                                    <img class="ExamplePhoto" src="<%= asset_path 'discoverblue.png' %>" alt "Unlabelled-Designs.com" style="width:220px; height:440px; border-radius:40px;">
                                                  </div>
                                                </div>
                                              </div>
                                            </a>
                                          </div>
                                        </div>

                                        <div class="col-md-6">
                                          <div class="portfolio-item">
                                            <div class"portfolio-right">
                                              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                                <div class="flipper">
                                                  <div class="front">
                                                    <img class="ExamplePhoto" src="<%= asset_path 'iphoneyellow.png' %>" alt="iphone 5c yellow" style="width:220px; height:440px; border-radius:40px;">
                		                                </div>
                		                                  <div class="back">
                                                            <img class="ExamplePhoto" src="<%= asset_path 'facilitiesyellow.png' %>" alt="InHostelBooking facilities" style="width:220px; height:440px; border-radius:40px;">
                		                                       </div>
                	                                        </div>
                                                        </div>
                                                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                                          <div class="flipper">
                                                            <div class="front">
                                                              <img class="ExamplePhoto" src="<%= asset_path 'iphonegreen.png' %>" alt="iphone 5c green" style="width:220px; height:440px; border-radius:40px;">
                                                              </div>
                                                                <div class="back">
                                                                  <a href="http://www.unlabelled-designs.com/">
                                                                    <img class="ExamplePhoto" src="<%= asset_path 'lookbookgreen.png' %>" alt="Unlabelled Designs Lookbook" style="width:220px; height:440px; border-radius:40px;">
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </a>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </section>

                  <section id="books" class="books bg-primary">
                      <div class="container">
                          <div class="row text-center">
                              <div class="col-lg-10 col-lg-offset-1">

                                  <h2>Bookshelf</h2>
                                  <hr class="small">
                                  <div class="row">
                                      <div class="col-md-3 col-sm-6">
                                          <div class="books-item">

                                            <%=image_tag("zerotoone.jpg",:size => "140x200")%>
                                              <h3><strong>Peter Thiel</strong></h3>
                                              <h3><em>Zero To One</em></h3>
                                              <h4>Notes on Startups, or How to Build the Future </h4>
                                              <p>Peter Thiel provides actionable, research-driven guidance on how to build a successful and sustainable business.</p>

                                          </div>
                                      </div>
                                      <div class="col-md-3 col-sm-6">
                                          <div class="books-item">
                                            <%=image_tag("deliveringhappiness.jpg",:size => "140x200")%>
                                              <h3><strong>Tony Hsieh</strong></h3>
                                              <h3><em>Delivering Happings</em></h3>
                                              <h4>A Path to Profits, Passion and Purpose</h4>
                                              <p>Tony Hsieh stresses the importance of company culture and how this reflects in each company members' loyalty, work ethic and customer service.</p>

                                          </div>
                                      </div>
                                      <div class="col-md-3 col-sm-6">
                                          <div class="books-item">
                                            <%=image_tag("howtowin.jpg",:size => "140x200")%>
                                              <h3><strong>Dale Carnagie</strong></h3>
                                              <h3><em>How To Win Friends &amp; Influence People</em></h3>
                                              <h4>The only book you need to buld success</h4>
                                              <p>Based on the core idea that people have a fundamental psychological need to feel important. </p>

                                          </div>
                                      </div>
                                      <div class="col-md-3 col-sm-6">
                                          <div class="books-item">
                                            <%=image_tag("likeavirgin.jpg",:size => "140x200")%>
                                              <h3><strong>Richard Branson</strong></h3>
                                              <h3><em>Like A Virgin</em></h3>
                                              <h4>Secrets they won't teach you at business school</h4>
                                              <p>Entertaining and inspiring, Branson is the master of Branding.</p>


                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>

                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <a href="#" class="btn btn-lg btn-light">Back to Top</a>
                  <a href="#contactme" class="btn btn-lg btn-dark">Contact Me</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section id="contact" class="map">
   <iframe width="100%" height="550" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJKaeYMj-uEmsRAgZ4clX6UO8&key=AIzaSyCB5eckJ-7JplpzU-rGHeuNh5_3PZ28j7E" allowfullscreen></iframe>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Carl Warburton</strong>
                    </h4>
                    <p>4 Myall Ave
                        <br>Vaucluse, NSW 2539</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i>(+614)37 571 992</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:carl.warburton1992@gmail.com">carl.warburton1992@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.linkedin.com/in/carl-warburton-855808108?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/CarlWarbs"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/carl.warburton/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/carl-warburton"><i class="fa fa-github fa-fw fa-3x"></i></a>
                        </li>
                    </ul>

<section id="contactme" form class="form-horizontal">
  <fieldset>
    <legend>Contact Me</legend>
    </div>
    <%= render 'enquiries/form', enquiry: @enquiry %>
  </section>


  <div class= "myfooter">
      <p class="text-muted">Copyright &copy; Carl Warburton Portfolio 2016</p>
        </div>
      </div>
    </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
  </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });

    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
