<!DOCTYPE html>
<html>
  <head>
    <meta name=content= “Carl Warburton’s Portfolio”>
    <meta name=content= “Carl Warburton”>
    <meta name=content= “junior web developer, full stack programmer, entrepreneur, front-end developer”
    <meta http_equiv=“refresh” content =“120”>
    <meta name= “viewport” content= “width=device width, initial-scale=1.0”/>
    
    <link href="data:image/x-icon;base64," rel="icon" type="image/x-icon" />
    <title>C.Warburton Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  </head>

  <body>
    <%= render 'partials/nav' %>
    <%= yield %>
  </body>
</html>
